@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
  perspective: 1000px;
}

.transform-preserve-3d {
  transform-style: preserve-3d;
}

.transform-preserve-3d > * {
  transform: translateZ(0);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(139, 92, 246, 0.1),
      0 0 10px rgba(139, 92, 246, 0.1);
  }
  50% {
    box-shadow: 0 0 20px rgba(139, 92, 246, 0.3),
      0 0 30px rgba(139, 92, 246, 0.2);
  }
  100% {
    box-shadow: 0 0 5px rgba(139, 92, 246, 0.1),
      0 0 10px rgba(139, 92, 246, 0.1);
  }
}

.glow-effect {
  animation: glow 3s ease-in-out infinite;
}
